{{#if addAnswer}}
  <h1>New Question</h1>
    <div>
      <form>
        <div class="form-group">
          <label for="answer">answer</label>
          {{input value=answer id="answer"}}
        </div>
        <button {{action 'save1'}}>Save</button>
      </form>
    </div>
{{else}}
    <button {{action 'answerFormShow'}}>Add Answer</button>
{{/if}}
