<h2>Here you may ask a new question!</h2>

<form>
      <div class="form-group">
        <label for="question1">Question</label>
        {{input value=question1 id="question1"}}
      </div>
      <button {{action 'saveQ'}}>Save</button>
    </form>
